/* RESET */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }




/* PAGE ELEMENTS */

body {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/* HEADER */

header, .library, .book {
    padding: 1em;
    text-align: center;
    box-sizing: border-box; 
}

header {
    background-color: lightgray;
}

header h1 {
    margin-bottom: .15em;
}




/* LIBRARY */

.library {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 0;
}




/* BOOKS */

.book {
    background-color: lightcoral;
    border-radius: 1em;
    flex: 0 0 0;
    min-width: 12em;
    margin: 0 .5em 1em .5em;
    position: relative;
}

.book:before, .book:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 45%;
    top: 80%;
    max-width:300px;
    box-shadow: 0 15px 20px #777;
    transform: rotate(-6deg);
}

.book:after {
    transform: rotate(6deg);
    right: 10px;
    left: auto;
}

.book h2 {
    color: white;
    font-weight: 200;
}

.book hr {
    border-top: 1px solid white;
    border-bottom: 0px;
    opacity: 50%;
    margin: .5em 0;
}

.book p.label {
    color: white;
    opacity: .5;
    font-size: .75em;
    text-align: left;
    margin: .5em 0 4px 1em;
}

.book p.detail {
    text-align: left;
}

.book p.detail:after {
    content: "";
    height: 1px;
    background-color:white;
    display: block;
    opacity: 25%;
    margin: .5em 1em 0px;
}




/* HEADINGS */

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}