/* RESET */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }




/* PAGE ELEMENTS */

body {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/* HEADER */

header, .library, .book {
    padding: 1em;
    text-align: center;
    box-sizing: border-box; 
}

header {
    background-color: lightgray;
}

header h1 {
    margin-bottom: .15em;
}




/* LIBRARY */

.library {
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100%;
}




/* BOOKS */

.book {
    background-color: gray;
    border-radius: .5em;
    flex: 0 0 0;
    min-width: 12em;
    min-height: 260px;
    margin: 0 .5em 1em .5em;
    position: relative;
    box-shadow: 0 7px 15px #444;
}

.book h2 {
    color: white;
    font-weight: 200;
}

.book hr {
    border-top: 1px solid white;
    border-bottom: 0px;
    opacity: 50%;
    margin: .5em 0;
}

.book p.label {
    color: white;
    opacity: .5;
    font-size: .75em;
    text-align: left;
    margin: .5em 0 4px 1em;
}

.book p.detail {
    text-align: left;
    color: white;
}

.book p.detail:after {
    content: "";
    height: 1px;
    background-color:white;
    display: block;
    opacity: 25%;
    margin: .5em 1em 0px;
}




/* HEADINGS */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}




/* BUTTONS */

#add-book {
    color:white;
    background-color: rgba(128, 128, 128, .25);
    font-size: 1em;
    border: dashed 5px;
    box-shadow: none;
    transition: .25s;
}

#add-book:hover{
    background-color: rgba(128,128,128,1);
    box-shadow: 0 3px 6px #777;
    border: solid 5px;
}

#add-book-button {
    font-size: 5em;
}

.form-buttons {
    display: flex;
    flex-direction: column;
}

.form-button {
    border: solid 1px rgba(255,255,255, .5);
    background: none;
    color: white;
    width: 50%;
    margin: 3px 0;
    padding: 3px 0;
    width: 100%;
    height: 2.5em;
    flex: 1;
}

.form-button:hover {
    background: rgba(255, 255, 255, .25);
}

.tools {
    display: none;
}

.tools-visible .tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    border-radius: 7px;
    box-sizing: border-box;
    padding: 10px;
    border: 3px white solid;
}

.btn {
    z-index: 2;
    background-color: rgba(255,255,255, .85);
    border: 1px solid black;
    padding: 10px;
    margin: .5em 1em;
    color: black;
}

.btn:hover {
    background: rgba(0, 0, 0, .85);
    color: white;
}





/* FORMS */

label {
    color: white;
    opacity: 80%;
    font-size: .75em;
    display: block;
    text-align: left;
}

input.form-element {
    box-sizing: border-box;
    width: 90%;
    background: none;
    border: none;
    border-bottom: solid 1px rgba(255, 255, 255, .25);
    color: white;
    margin-bottom: .5em;
    font-size: 1em;
}

input.form-element[type=radio] {
    display: inline;
    width: auto;
    vertical-align: middle;
    margin: 5px 0;
}

.columns {
    display:flex;
}

.col {
    flex: 1;
}

span label {
    display: inline;
}

span {
    display: block;
    text-align: left;
}

div.form-radios {
    
}




/* ICONS */

i.material-icons {
    position: relative;
    top: 1px;
}